@import "variables";

// Vendors
@import "vendors/bootstrap/bootstrap";

// Components..
@import "components/mixins";

// Pages..
@import "pages/index";

    h2{
        padding-left: 15px;
        padding-bottom: 15px;
        padding-top : 8px;
        margin-left: 210px;
    }
    .vl {
        border-left: 5px solid #fe4240 ;
        height: 3.0rem;
      }
      @media screen and (max-width: 600px){
          h2{
              margin-left: 0px;
          }
      }
/*nav card*/
    .nav-link{
        margin-top: 20px;
        background-color: lightgrey;
        color:black;
    }
    #navbarDropdown{
        background-color: #fe4240;
        color:white;
        border-radius: 0px;
    }
    
    .nav-pills .nav-link.active{
        background-color: #fe4240 ;

    }
    .nav-pills .nav-link{
        border-radius: 0px;
        margin-left: 1px;
        margin-right:1px;
    }
    @media screen and (max-width: 600px) {
        #pills-tab{
            display: none;
        }
      }
    .nav-tabs .nav-item{
        margin-bottom: 15px;
    }
/*fin navcard*/
    /*card*/
    .col-9{
        padding-left: 0px;
        padding-right: 0px;
    }
    @media screen and (max-width: 600px){
        .col-9{
            padding-left: 15px;
            padding-right: 15px;
        }

    }
    .card{
        border-style: none;
        border-radius: 0px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    @media screen and (max-width: 600px){
        .card{
            box-shadow: 0px 0px 10px black;
            padding: 0px;
        }
    }
    .card-img-top{
        border-radius: 0px;
    }
    .gallerie{
        justify-content: center;
    }
@media screen and (max-width: 600px){
    .container{
        background-color: lightgray;
    }
    }
    .card-body{
        padding:0px;
        margin-bottom: 5px;
        margin-left: 5px;
    }
    .title{
        font-size: 15px;
        text-transform: capitalize;
        text-align: center;
        color: gray;
    }
    .year{
        font-size: 15px;
        text-align: left;
        color: gray;
    }
    .btn-primary:hover{
        background-color: #fe4240 ;
    }
    @media screen and (max-width: 600px){
        .btn-primary:hover{
            box-shadow: 0px 0px 5px black;
        }
    }
    /*fin cards*/
    /*modal*/
    .modal-header{
        background-color: #fe4240 ;
    }
    .modal-title{
        color: white;
    }
    .modal-body{
        padding: 0rem;
        background-color: white; 
        
    }
    .modal-text{
        color: grey;
    }
    .summary{
        color: black;
        padding: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 5px;
        text-align: justify;
    }
    .modal-director{
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal-year{
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal-genre{
        padding-left: 20px;
        padding-right: 20px;
    }
    .modal-actors{
        padding-left: 20px;
        padding-right: 20px;
    }
    .btn.btn-secondary{
        background-color: lightgrey;
        color: black;
    }
    /*fin modal*/

    /*buttonmore*/
    .btn.btn-secondary{
        background-color: #fe4240;
        color: white;
        text-transform: uppercase;
        border-radius: 0px;
        border-style: none;
        font-weight: bold;
        margin-bottom: 15px;
    }
    /*fin buttonmore*/
    /*shop*/

    .container2{
        max-width: 1550px;;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .shopcard{
        border-style: none;
        border-radius: 0px;
        margin-bottom: 0px;
        padding: .375rem .30rem;
        &:hover{
            .prize{
                color: white;
            }
        }
    }
    .shopcardbody{
        padding: 0.80rem;
        padding-bottom: 1.75rem;
        margin-bottom: 0px;
        font-size: 95%;
        color: gray;
    }
    .shoptitle{
        margin-bottom: 5px;
    }
    .prize{
        font-size: 15px;
        text-align: right;
        color: red;
    }
    .selectshop{
        background-color: black;
    }
    .subselectshop{
        height: 50%;
    }
    .titlecolshop{
        color: #fe4240;
        font-size: 90%;
        padding-left: 4%;
        vertical-align: top;
        padding-bottom: 10px;
    }
    .leftcolshop{
        color: #fe4240;
        font-size: 90%;
        padding-left: 5%;
        vertical-align: middle;
        font-weight: bold;
    }
    .rightcolshop{
        color: lightgrey;
        font-size: 80%;
        padding-right: 5%;
    }

    /*fin shop*/
    /*CONTACT US*/
    .map-body{
        padding: 0.50rem;
    }
    .map-container-7{
        overflow:hidden;
        padding-bottom:20%;
        position:relative;
        height:0;
        iframe{
            left:0;
            top:0;
            height:100%;
            width:100%;
            position:absolute;
        }
    }
    .request{
        padding: 20px;
        padding-bottom: 0px;
    }
    /*FIN CONTACT US*/