body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header .head1 {
  background-color: #4c5155;
  height: 80px;
}

header .head1 p {
  color: #ffffff;
}

header .head1 p .red {
  color: #fe4240;
}

header .head2 {
  background-color: #fe4240;
  padding: 6px 0;
}

main .title {
  font-size: 25px;
}

main .texte {
  font-size: 12px;
}

.jumbotron {
  margin-bottom: 0rem !important;
}

.button {
  background-color: #fe4240;
  color: white;
  border: 2px solid #fe4240;
  border-radius: 5px;
  padding: 10px;
}

.button:hover {
  background-color: white;
  color: #fe4240;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  -o-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #fe4240;
}

footer {
  background-color: #0d0d0d;
  height: 146px;
}

footer section {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid gray;
}

footer section p {
  color: #ffffff;
  padding: 15px 0 0 0;
}

footer section div {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer section div a {
  display: inline-block;
  color: #ffffff;
  border: 1px solid white;
  padding: 6px 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
